@model ReflectionIT.Mvc.Paging.PaginList<KitundaChurch.Models.Matoleo>
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Summary";
}



<h2>Summary</h2>
<h4>Matoleo</h4>
<hr />
<nav class="row">
    <vc:pager paging-list="@Model" />
</nav>
<div class="well">
    <p> sadaka Bk:@ViewBag.sum1</p>
    <p>sadaka conf:@ViewBag.sum2</p>
    <p>sadaka Zaka:@ViewBag.sum3</p>
    <p>sadaka ya Kambi : @ViewBag.sum6</p>
    <p>sadaka Ujenzi    :@ViewBag.sum7</p>
    <p>sadaka Mpango Wa kanisa:@ViewBag.sum5</p>
    <p style="text-decoration-color:darkslategray;">sadaka Total:@ViewBag.sum4</p>
</div>
<hr>

@foreach(var item in Model) { 
<div class="well-sm col-md-12" style="height:150px; margin:40px; ">
    <div class="col-md-4">
        <h3>Seventh-day Adventist church</h3>
        <dl class="dl-horizontal text-left">
            <dt style="text-emphasis:filled;">
                @Html.DisplayNameFor(modelItem => item.ChurchMembers.Name)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.ChurchMembers.Name)
            </dd>
            <dt>Kanisa la</dt>
            <dd>Kitunda</dd>
         
            <dt class="col-md-offset-3">Tarehe</dt>
            <dd>@Html.DisplayFor(modelItem => item.Savetime)</dd>
        </dl>
    </div>
    <div class="col-md-4">
        <table cellpadding="15" cellspacing="30" border="1" style="">
            <tr>
                <td>Zaka</td>
                <td>@Html.DisplayFor(modelItem => item.Zaka)</td>
            </tr>
            <tr>
                <td>Sadaka ya Pamoja SETC(58%)</td>
                <td>@Html.DisplayFor(modelItem => item.sadakaConf)</td>
            </tr>
            <tr>
                <td>Sadaka ya Kambi</td>
                <td>@Html.DisplayFor(modelItem => item.sadakaMakambi)</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td>jumla Fedha SETC-A</td>
                <td>
                    @{ViewBag.A = item.Zaka + item.sadakaConf;}
                @ViewBag.A
            </td>
        </tr>
        <tr>
            <td>Sadaka ya Pamoja Kanisani(42%)</td>
            <td>@Html.DisplayFor(modelItem => item.sadakaBk)</td>
        </tr>
        <tr>
            <td>Sadaka Majengo ya kanisa</td>
            <td>@Html.DisplayFor(modelItem => item.sadakaMajengo)</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Jumla ya Fedha ya Kanisa-B</td>
            <td>@Html.DisplayFor(modelItem => item.sadakaBk)</td>
        </tr>
        <tr>
            <td>Jumla ya Fedha zote(A+B)</td>
            <td>@Html.DisplayFor(modelItem => item.Total)</td>
        </tr>

    </table>
</div >
    <div class="col-md-4">
    <a asp-action="Edit" asp-route-id="@item.MatoleoId">Edit</a> |
    <a asp-action="Details" asp-route-id="@item.MatoleoId">Details</a> |
    <a asp-action="Delete" asp-route-id="@item.MatoleoId">Delete</a>
</div>


<div>
   |
    <a asp-action="Index">Back to List</a>
</div>
    </div>

               }
 
@*<div class="panel-footer nglyphicon-object-align-horizontal">
        <a class="icon-prev" asp-action="summary" asp-route-productPage="@item.MatoleoId">1</a>
        <a asp-action="Summary" asp-route-productPage="@item.MatoleoId">1</a> |
        <a asp-action="Summary" asp-route-productPage="@item.MatoleoId">2</a> |
        <a asp-action="Summary" asp-route-productPage="@item.MatoleoId">3...</a>
        <a  class="icon-next" asp-action="Summary" asp-route-id="@item.MatoleoId">1</a>
   
    </div>*@

<nav aria-label="Products navigation example">
@Html.Partial("Pager", this.Model)
    </nav>