@addTagHelper *, KitundaChurch
@model IEnumerable<KitundaChurch.Models.Album>


@{
    ViewBag.Title = "Index";
}

<div class="container" style=" background-image:url('../../images/cover.jpg'); ">
 
    <div class="btn-outline-success ">
        <div class="btn btn-default btn-success alb col-md-6">Albums</div>
        <div class=" btn btn-default btn-success son col-md-6">All songs</div>
    </div>
   
    <div id="table1">
        
        <table class="col-md-5 ">

@foreach (var item in Model)
{
                    <tr class="Albm btn  col-md-12" id="@item.AlbumId">
                        <td>
            <div class="table3" style="display:none;">
     <vc:song-list new NavigationComponentModel() album-id="@item.AlbumId">
                                             </vc:song-list>
</div>
                        </td>

                        <td class="hid" >

                            @{foreach (var sing in ViewBag.song)
                                {
                                    if (sing.AlbumId == item.AlbumId)
                                    {
                                        var base64 = Convert.ToBase64String(sing.songData);
                                        var imgSrc = String.Format("data:text/plain;base64,{0}", base64);
                                        ViewBag.img = imgSrc;
                                    }
                                }
                            }
                          
                            
                                <img src='@ViewBag.img' style="max-width:100px; max-height:100px;" />
                     
                            
</td>

                        <td class="hid">

                           

                                @Html.DisplayFor(modelItem => item.Title)
                            
</td>

                </tr>
                                    
                }            

        </table>
        </div>
      
                                
   <div id="table2" style="overflow-y:scroll; width:100%; display:none; ">
        <table  class="table-hover  ">


            @foreach (var item2 in ViewBag.song)
            {
                <tr class="btn" onclick="play(@item2.songName,@item2.ContentType)" id="@item2.songName">
                    <td >


                        @{
                            var base64 = Convert.ToBase64String(item2.songData);
                            var imgSrc = String.Format("data:text/plain;base64,{0}", base64);
                            ViewBag.img = imgSrc;

                        }

                        <img src='@ViewBag.img' style="max-width:100px; max-height:100px;" />
                    </td>

                    <td>
                        
                        <p>@(item2.songName);</p>
                    </td>
                </tr>
                            }

        </table></div>
       
      
       
        <div>
            <video id="mejs" class="bottm" style="width:100%; padding:30px;"   controls="controls"></video>
        </div>
    </div>
@section scripts{

<script>
    $(".Albm").click(function(){

   
        $(".hid").hide();
        
        $(this).find(".table3").show();
       

    });

    $(".son").click(function(){
        $("#table2").show();
        $(".hid").hide();
        $(".table3").hide();

    });
    $(".alb").click(function () {
        $("#table2").hide();
        $(".table3").hide();
        $(".hid").show();
    });
    
    function play(t,y) {
        var bit = t;
        var typ = y;
        $("video").setAttribute("src", t);
        $(".btn").hide();
        document.getElementById(t).show();

    };

</script>
}



@*<section class="section-padding latest_event_sermons m-0">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <div class="heading">
                    <h3>Latest Events</h3>
                    <a class="btn btn-sm pull-right" href="#">See All</a>
                </div>
                <div class="event_list">
                    <ul>
                        <li>
                            <div class="event_info">
                                <div class="event_date">
                                    <span>20</span> Aug'18
                                </div>
                                <h6><a href="#">Which is the same as saying</a></h6>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Sunday  (8:00 am -9:00 am)</li>
                                    <li><i class="fa fa-map-marker"></i> 56 Thatcher Avenue River Forest</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="event_info">
                                <div class="event_date">
                                    <span>16</span> Aug'18
                                </div>
                                <h6><a href="#">If you are going to use</a></h6>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Sunday  (8:00 am -9:00 am)</li>
                                    <li><i class="fa fa-map-marker"></i> 56 Thatcher Avenue River Forest</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="event_info">
                                <div class="event_date">
                                    <span>27</span> Aug'18
                                </div>
                                <h6><a href="#">Nor again is there anyone</a></h6>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Sunday  (8:00 am -9:00 am)</li>
                                    <li><i class="fa fa-map-marker"></i> 56 Thatcher Avenue River Forest</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6 col-lg-5 offset-lg-2">
                <div class="heading">
                    <h3>Latest Sermons</h3>
                    <a class="btn btn-sm pull-right" href="#">See All</a>
                </div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingOne" role="tab">
                            <h6 class="panel-title">
                                <a role="button" aria-expanded="true" aria-controls="collapseOne" href="#collapseOne" data-toggle="collapse" data-parent="#accordion">
                                    But I must explain to you how
                                </a>
                            </h6>
                        </div>
                        <div class="panel-collapse collapse in show" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul class="sermons_meta">
                                    <li><i class="fa fa-user"></i> Message from <a href="#">Frederick</a></li>
                                    <li><i class="fa fa-calendar-check-o"></i> Aug 12, 2018</li>
                                </ul>
                                <div class="sermons_inside">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-music"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                                        <li><a href="#"><i class="fa fa-file-pdf-o"></i></a></li>
                                        <li><a href="#"><i class="fa fa-share-alt"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingTwo" role="tab">
                            <h6 class="panel-title">
                                <a class="collapsed" role="button" aria-expanded="false" aria-controls="collapseTwo" href="#collapseTwo" data-toggle="collapse" data-parent="#accordion">
                                    Who loves or pursues
                                </a>
                            </h6>
                        </div>
                        <div class="panel-collapse collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul class="sermons_meta">
                                    <li><i class="fa fa-user"></i> Message from <a href="#">Frederick</a></li>
                                    <li><i class="fa fa-calendar-check-o"></i> Aug 12, 2018</li>
                                </ul>
                                <div class="sermons_inside">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-music"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                                        <li><a href="#"><i class="fa fa-file-pdf-o"></i></a></li>
                                        <li><a href="#"><i class="fa fa-share-alt"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingThree" role="tab">
                            <h6 class="panel-title">
                                <a class="collapsed" role="button" aria-expanded="false" aria-controls="collapseThree" href="#collapseThree" data-toggle="collapse" data-parent="#accordion">That pleasures have to be repudiated</a>
                            </h6>
                        </div>
                        <div class="panel-collapse collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul class="sermons_meta">
                                    <li><i class="fa fa-user"></i> Message from <a href="#">Frederick</a></li>
                                    <li><i class="fa fa-calendar-check-o"></i> Aug 12, 2018</li>
                                </ul>
                                <div class="sermons_inside">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-music"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                                        <li><a href="#"><i class="fa fa-file-pdf-o"></i></a></li>
                                        <li><a href="#"><i class="fa fa-share-alt"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingThree" role="tab">
                            <h6 class="panel-title">
                                <a class="collapsed" role="button" aria-expanded="false" aria-controls="collapseThree" href="#collapseThree" data-toggle="collapse" data-parent="#accordion">To take a trivial example</a>
                            </h6>
                        </div>
                        <div class="panel-collapse collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul class="sermons_meta">
                                    <li><i class="fa fa-user"></i> Message from <a href="#">Frederick</a></li>
                                    <li><i class="fa fa-calendar-check-o"></i> Aug 12, 2018</li>
                                </ul>
                                <div class="sermons_inside">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-music"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                                        <li><a href="#"><i class="fa fa-file-pdf-o"></i></a></li>
                                        <li><a href="#"><i class="fa fa-share-alt"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>*@