@addTagHelper *, KitundaChurch
@model IEnumerable<KitundaChurch.Models.Album>

@{
    ViewBag.Title = "Index";
}

<div class="scontainer" style=" background-image: url('/images/cover.jpg'); width:100%;">
    @*<div class="medl">


        @*<span class="col-md-6">
                Our Songs
            </span>
        <div class=" wel  co-md-6 sermon-links">
            <ul class="action-buttons  ">
                <li class="glyphicon-hd-video   link">

                </li>
                <li class="link glyphicon-music  ">

                </li>
                <li class="link glyphicon-record  ">

                </li>
            </ul>
        </div>
    </div>*@
    <div class="sermon-media-right ">

        


        <div class="media-wrapper ">
            <video id="player1" width="450" style="max-width: 100%;  height: auto;" controls preload="none"
                   data-cast-title="Big Buck Bunny"
                   data-cast-description="Big Buck Bunny is now even more a world standard for video standards"
                   poster="http://mediaelementjs.com/images/big_buck_bunny.jpg">
                <source src="https://commondatastorage.googleapis.com/gtv-videos-bucket/CastVideos/mp4/BigBuckBunny.mp4" data-playlist-thumbnail="http://mediaelementjs.com/images/big_buck_bunny.jpg"
                        title="Big Buck Bunny" data-playlist-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vestibulum justo arcu. Vestibulum commodo lacus bibendum sollicitudin commodo." type="video/mp4">
                <source src="http://www.streambox.fr/playlists/test_001/stream.m3u8" title="Hls.js Demo" data-playlist-description="Curabitur et malesuada arcu. Praesent hendrerit, quam vel pellentesque aliquam, metus felis mattis velit, quis varius metus diam vitae diam. Integer ante massa, tempor in accumsan eu, sodales in lectus." type="application/x-mpegURL">
                <source src="http://la2.indexcom.com/me/flv/guqin.flv" title="Guqin - Ghost" type="video/flv">
            </video>
        </div>
    </div>


   <div class="btn-group-justified">
    <div class="btn btn-default btn-success alb col-md-6">Albums</div>
    <div class=" btn btn-default btn-success son col-md-6">All songs</div>
</div>

        <div id="table1" style="overflow-y:scroll; ">

            <table class="col-md-5 table-hover ">

                @foreach (var item in Model)
                {
                    <tr class="Albm" id="@item.AlbumId">
                        <td>
                            <div class="table3" style="display:none;">
                                <vc:song-list album-id="@item.AlbumId">
                                </vc:song-list>
                            </div>
                        </td>

                        <td class="hid">

                            @{foreach (var sing in ViewBag.song)
                                {
                                    if (sing.AlbumId == item.AlbumId)
                                    {
                                        var base64 = Convert.ToBase64String(sing.songData);
                                        var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                                        ViewBag.img = imgSrc;
                                    }
                                }
                            }


                            <img src='@ViewBag.img' style="max-width:100px; max-height:100px;" />


                        </td>

                        <td class="hid">



                            @Html.DisplayFor(modelItem => item.Title)

                        </td>

                    </tr>

                                }

            </table>
        </div>


        <div id="table2" style="overflow-y:scroll; display:none; Height:300px;">
            <table style=" overflow:auto; Height:300px;" class="table-hover  col-md-5">


                @foreach (var item2 in ViewBag.song)
            {
                    <tr>
                        <td>


                            @{
                                var base64 = Convert.ToBase64String(item2.songData);
                                var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                                ViewBag.img = imgSrc;

                            }

                            <img src='@ViewBag.img' style="max-width:100px; max-height:100px;" />
                        </td>

                        <td>
                            <p>
                                @{
                                ViewBag.Name = System.IO.Path.GetFileNameWithoutExtension(item2.songName);

                            }

                            @ViewBag.Name
                        </p>
                        </td>
                    </tr>
                                }

            </table>
        </div>
</div>


   
@section scripts{

<script>


    $('audio,video').mediaelementplayer({
        loop: true,
        shuffle: true,
        playlist: true,
        audioHeight: 30,
        playlistposition: 'bottom',
        features: ['playlistfeature', 'prevtrack', 'playpause', 'nexttrack', 'loop', 'shuffle', 'playlist', 'current', 'progress', 'duration', 'volume'],
    });
});



    $(".Albm").click(function(){

   
        $(".hid").hide();
        
        $(this).find(".table3").show();
       

    });

    $(".son").click(function(){
        $("#table2").show();
        $(".hid").hide();
        $(".table3").hide();

    });
    $(".alb").click(function () {
        $("#table2").hide();
        $(".table3").hide();
        $(".hid").show();
    });
</script>
}