@model  KitundaChurch.Models.News

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
   
        @Html.DisplayFor(model => model.Title)
        
            @Html.Raw(Model.content)
       
            @Html.DisplayFor(model => model.time)
    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
