@model IEnumerable<KitundaChurch.Models.Event>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Create New", "Create")

</p>
<div class="Events" style="height:auto; width:100%">
    <div class="col-md-6" matukio>
        <div class="col-md-12" style="background-color:rgba(128, 128, 128, 0.12);  padding-left:0; padding-right:0;">
            <div class="imig" style="height:300px; width:auto; position:relative;">
                <img style="width:100%; height:inherit; " src="~/Files?id=@ViewBag.image">
                <span id="soon">Next Coming Soon</span>
            </div>
            <div class="row" style="margin-left: 8px;">
                <div class="col-md-3 p col-xs-1" style="box-shadow:0 0 0 2px rgba(11, 180, 236, 0.95), 0 0 0 2px rgba(23, 124, 224, 0.97);"><span id="days"></span><p>Days</p></div>
                <div class="col-md-3 p col-xs-1"> <span id="hours"></span><p>Hours</p></div>
                <div class="col-md-3 p col-xs-1"><span id="mins"></span><p>Minutes</p></div>
                <div class="col-md-3 p col-xs-1"><span id="secs"></span><p>Seconds</p></div>

            </div>
            <div style="height:auto; width:100%; margin-left:5px;">
                <h3>
                    @ViewBag.litle
                </h3>
                <p id="muda"></p>
                <p>at @ViewBag.mahal</p>
            </div>


        </div>
    </div>
    @foreach (var item in Model)
    {
        <div>
            <div class="col-md-2 boxed">
                <h2 style="margin: 0px 2px 0px 2px;" id="box"></h2>
                <p style="margin: 0px 2px 0px 2px;" id="mon"></p>
                <p style="margin: 0px 2px 0px 2px;" id="yea"></p>
            </div>
            <div class="col-md-4 soon">

                <h5 class="TheTitle" style="color:rgba(23, 124, 224, 0.97); margin:0; padding:0;">  @Html.DisplayFor(modelItem => item.Title)</h5>
                <hr>

                <p>
                    @Html.DisplayFor(modelItem => item.timer)

                </p>

            </div>
        </div>


    }
</div>

<script>
    
</script>

